body
{
    margin : 0;
    padding: 0;
    font-family : Montserrat;
    background:linear-gradient(120deg,#2980b9,#8e44ad);
    height:100vh;
    overflow: hidden;

}

.center
{
    position: absolute;
    top :50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:400px;
    background: whitesmoke;
    border-radius:10px;
}
.password
{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
}

